<h1>Stupid Coaching</h1>
<div class = "container">
	<p><em> -You</em></p>
	<p><%=@question%></p>
</div>
<div class = "container" id="yellow">
	<p><em>-Your coach</em></p>
	<p> <%=@answer%>
</div>
<a> <%=link_to 'ask another question', ask_path %></a>